.App {
  text-align: center;
}
.navbar{
  background-color:lightblue;
}
footer{
  background-color: aqua;
}

.main-app{
  background-color: pink;
  height: 100vh;
  width: 100vw;
}
/* TOPIC SECTION  */
#topic-section{
  background-color:lightcyan;
}

.topic-card{
  background-color: blue;
  max-height: 150px;
  max-width: 150px;
  border: solid 2px black;
  margin: 20px;
}

.card-topic-img{
  height: 70px;
  width: 70px;
  padding-top: 25px;
}

/* MAIN SECTION */
.main-section{
  background-color:purple;
  color:white;
  height: 100vh;
  width: 100vw;
}

.hero-img{
  height: 100vh;
  width: 100vw;
}

.cover-img{ 
height: 100vh;
width: 100vw;
}