.App{
  margin: auto 0;
}
.App-header{
  margin: auto 0;
}
.navbar{
  background-color: aquamarine;
}

.logo{
  font-family: 'Quicksand', sans-serif;
}

.main-section{
  height: 100vh;
}
.hero-img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}


/* *** TOPIC SECTION * TOPIC SECTION * TOPIC SECTION * TOPIC SECTION * TOPIC SECTION *** */
#topic-section {
  background-color: blueviolet;
}

.topic-card {
width: 20vw;
height: 60vh;
margin: 15px;
display: flexbox;
background-color: white;
border-radius: 5px;
grid-column-gap: 50px;
}

.card-topic-img {
  height: 15vh;
}

